.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}

.search-card {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.search-form-fields {
  display: flex;
  align-items: flex-end; /* Align button with bottom of inputs */
  gap: 1rem; /* Add spacing between fields */
}

.search-form-fields .search-submit {
  margin-left: auto; /* Push button to the right */
}

.past-journey-title {
  display: inline-block;
  cursor: pointer;
}

.past-journeys-list {
  max-height: 0;          /* collapse */
  overflow: hidden;       /* hide content */
  opacity: 0;             /* invisible */
  transition: max-height 0.8s ease, opacity 0.8s ease; /* smooth animation */
}

/* Shown state */
.past-journeys-list.show {
  max-height: 500px;      /* large enough to fit content */
  opacity: 1;
}
